
/* 
 *
 * index.html top level background modal wrapper
 * controler api in utils.js.
 *
 */

#firebaseuiAuthOverlay {
  display:          none;
  justify-content:  center;
  align-items:      center;
  position:         fixed;
  top:              0;
  bottom:           0;
  left:             0;
  right:            0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity:          0;
  transition:       opacity 0.2s ease-out;
}

#firebaseuiAuthContainer {
  min-height:       368px;
  width:            240px;
  background-color: white;
  border-radius:    2px;
  box-shadow:       0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* Input underlines, primary buttons. */
/* Won't work withough !important. */
.firebaseui-textfield.mdl-textfield .firebaseui-label::after,
.mdl-button--raised.mdl-button--colored,
.mdl-button.mdl-button--colored {

  /* Default color is material design dark blue. */
  background-color: var(--app-primary-color, #3f51b5) !important;
}

/* Secondary buttons. */
/* Won't work withough !important. */
.mdl-button--primary.mdl-button--primary {

  /* Default color is material design dark blue. */
  color: var(--app-primary-color, #3f51b5) !important;
}
